@page "/BasicMaze"
@using labyrinth


<h1>Enter your name, if your dare...</h1>
<input type="text" @bind="name" />
<button @onclick="GenerateMaze">Generate Maze</button>
<p>@pathOutOfMaze</p>

@code
{
    string name;
    string pathOutOfMaze = " ";


    private void GenerateMaze()
    {
        MazeCell startLocation = MazeUtilities.mazeFor(name);

        var path = MazeUtilities.ExploreMaze(startLocation);
        var instructions = path.Select(node => $"{node.From.Id}[\"{node.From}\"]--{node.Label}-->{node.To.Id}[\"{node.To}\"]");
        pathOutOfMaze = "graph TD\n" + string.Join("\n", instructions);
        Console.WriteLine(pathOutOfMaze);
    }
}